/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './variables.scss';
@import './custom-angular-material-theme.scss';

@font-face {
    //https://www.fontfabric.com/fonts/kelson-sans/#font-styles
    font-family: 'Kelson';
    src: url('./assets/fonts/KelsonSans-Light.woff2') format('woff2'),
         url('./assets/fonts/KelsonSans-Light.woff') format('woff'),
         url('./assets/fonts/KelsonSans-Light.ttf') format('truetype');
  }

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: $base-font-size;
    background-color: $brand-background-color;
    color: $white;
    
  /*Needed to position the footer*/
  #page-container {
    position: relative;
    min-height: 100vh;

    button{
      margin-right: $half-spacing;
    }

    a, a:visited, a:focus{
      color: $link-color;
      text-decoration: $link-text-decoration;
    }

    a:active, a.active {
      color: $link-hover-color;

      &:hover{
        color: $link-color;
        text-decoration: $link-hover-text-decoration;
        text-decoration-color: $link-hover-color;
      }
    }

    a:hover{
      color: $link-hover-color;
      text-decoration: $link-hover-text-decoration;
      background-color: $link-hover-bgcolor;
    }
  }
  
}
