// Basic colors
$black: #262626;
$gray-1: #ededed;
$gray-2: #d0d0d0;
$gray-3: #a0a0a0;
$gray-4: #4b4b4b;
$gray-5: $black;

//Brand Color
$brand-color: #52B9CC;
$brand-color-light:rgb(149, 207, 218);
$brand-color-dark:#0000ff;

$brand-secondary-color: #990000;
$brand-secondary-color-light:#FE9783;
$brand-secondary-color-dark:#bb0000;
$brand-secondary-color-dark-dark:$black;

$brand-warn-color:#ff0000;
$brand-warn-color-light:#ffb3b3;
$brand-warn-color-dark:$brand-warn-color;

//a tag config
$link-color: #0555a4;
$link-text-decoration:underline;
$link-hover-color: #0555a4;
$link-hover-text-decoration:underline;
$link-hover-bgcolor:  #e5e5e5;

$green: #6bb324;
$red: #d90000;
$dark-red: #850000;
$dark-red-2: #a94442;
$light-red-1: #ffe3e3;
$light-red-2: #fcb8b8;
$light-red-3: #f2dede;
$blue: #00a0de;

$info-text: #31708f;
$success-text: #3c763d;
$error-text: $dark-red;
$warning-text: #8a6d3b;
$question-text: $info-text;

$info-bg: #d9edf7;
$success-bg: #dff0d8;
$error-bg: $light-red-2;
$warning-bg: #fcf8e3;
$question-bg: $info-bg;

$gray-separators: $gray-3;
$gray-separators-light: $gray-4;
$gray-table-separators: $gray-1;

// Font sizes
$largest: 2.5556em; // 56
$xxtra-large: 1.778em; // 32
$xtra-large: 1.5em; // 27
$large: 1.33em; // 24
$medium: 1.1667em; // 21
$base-font-size: 18px;
$normal: 1em; // 18
$small: 15px; // 15
$xtra-small: 12px; // 12

// Font weights
$bold: 800;
$semibold: 700;
$light: 400;
$thin: 300;

//Spacing
$normal-spacing: 15px;
$half-spacing: 7px;
$third-spacing: 5px;
$quarter-spacing: 3px;
$dubble-spacing: 30px;

$header-height: 100px;