// Basic colors
$black: #262626;
$gray-1: #D8D8D8;
$gray-2: #A4A4A4;
$gray-3: #848484;
$gray-4: #585858;
$gray-5: #151515;

//Brand Color
$brand-color: #20cde4; //#FF9985;
$brand-color-light: #78E9FF; //#FF9985;
$brand-color-dark: #078fa1;//#FF9985;

$brand-secondary-color: #f4623a;
$brand-secondary-color-light: #f57d5b;
$brand-secondary-color-dark: #e64215;
$brand-secondary-color-dark-dark:$black;

$brand-warn-color:#ff0000;
$brand-warn-color-light:#ffb3b3;
$brand-warn-color-dark:$brand-warn-color;

//a tag config
$link-color: #FFFFFF;
$link-text-decoration:underline;
$link-hover-color: $brand-secondary-color-dark;
$link-hover-text-decoration:underline;
$link-hover-bgcolor: $brand-secondary-color-dark;

$green: #6FB371;
$red: #d90000;
$dark-red: #850000;
$dark-red-2: #a94442;
$light-red-1: #ffe3e3;
$light-red-2: #fcb8b8;
$light-red-3: #f2dede;
$blue: #00a0de;
$white: #FFFFFF;

$info-text: #31708f;
$success-text: #3c763d;
$error-text: $dark-red;
$warning-text: #8a6d3b;
$question-text: $info-text;

$info-bg: #d9edf7;
$success-bg: #dff0d8;
$error-bg: $light-red-2;
$warning-bg: #fcf8e3;
$question-bg: $info-bg;

$gray-separators: $gray-3;
$gray-separators-light: $gray-4;
$gray-table-separators: $gray-1;

// Font sizes
$largest: 2.5556em; // 56
$xxtra-large: 1.778em; // 32
$xtra-large: 1.5em; // 27
$large: 1.33em; // 24
$medium: 1.1667em; // 21
$base-font-size: 18px;
$normal: 1em; // 18
$small: 0.834em; // 15
$xtra-small: 0.667em; // 12

// Font weights
$bold: 800;
$semibold: 700;
$light: 400;
$thin: 300;

//Spacing
$normal-spacing: 15px;
$half-spacing: 7px;
$third-spacing: 5px;
$quarter-spacing: 3px;
$dubble-spacing: 30px;

$header-height: 100px;
