@import '../variables.scss';

:host{
  #dev-banner{
    position: fixed;
    bottom:$normal-spacing;
    left:5%;
    width:90%;
    z-index: 200;
  }

  #page-content {
    padding-top: calc(#{$header-height} + #{$normal-spacing});

    padding-bottom: calc(18em + #{$normal-spacing}); /* Footer height + normal spacing */
  }  
}
