<div class="text-center text-justify">
  <h1> {{'Imprint.Imprint' | translate }} </h1>
  <p> {{'Imprint.LegalRemark' | translate }} </p>
  <p> {{'Imprint.Operator' | translate }} </p>
  <!--Contact Details-->
  <div class="text-center text-justify">
    <p>
      CGI DEUTSCHLAND B.V. & CO. KG <br />
      Leinfelder Stra&szlig;e 60, <br />
      70771 Leinfelden-Echterdingen, <br />
      Deutschland <br />
    </p>
  </div>

  <!--Registers-->
  <div class="text-center text-justify">
    <p>
      Steuernummer: 97113/29861 <br />
      UID-Nummer gem&auml;&szlig; &sect; 27 UStG: DE 114 118 368 <br />
      Register: Handelsregister <br />
      Registernummer: HRA 732235 <br />
      Registergericht: Amtsgericht Stuttgart <br />
    </p>
  </div>

  <!--Phone, Email-->
  <div class="text-center text-justify">
    <p>
      Tel.: +49 711 72846-0 <br />
      Fax: +49 711 72846-846 <br />
      E-Mail: info.de@cgi.com <br />
    </p>
  </div>

  <div class="text-center text-justify">
    <p> Pers&ouml;nlich haftende Gesellschafterin: CGI General Partner B.V., Rotterdam, Niederlande, KvK-Nr. 74017632. </p>
    <p> Vertretungsberechtigte Gesch&auml;ftsf&uuml;hrer: Torsten Stra&szlig; | Thomas Roth | Volker Katz | Fran&ccedil;ois Boulanger </p>
  </div>

  <div class="pt-5 text-center text-justify">
    <h4> Haftung f&uuml;r Links auf dieser Website </h4> 
    <p>
      Unsere Webseite enth&auml;lt Links zu anderen Webseiten f&uuml;r deren Inhalt wir nicht verantwortlich sind. Haftung f&uuml;r verlinkte Websites besteht f&uuml;r uns nicht, da wir keine Kenntnis rechtswidriger T&auml;tigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen w&uuml;rden, wenn uns Rechtswidrigkeiten bekannt werden. <br />
      Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitten wir Sie, uns zu kontaktieren.
    </p>
  </div>

</div>


