<div mat-dialog-title>
    <h3>{{'User.ChangeEmail.Title' | translate }}</h3>
</div>
<div mat-dialog-content>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="showError">
        <h4 class="alert-heading">{{'User.ChangeEmail.Messages.Error.Title' | translate}}</h4>
        <p>{{'User.ChangeEmail.Messages.Error.Text' | translate}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #ChangeEmailForm="ngForm" novalidate>
        <mat-form-field>
            <mat-label><span [innerHTML]="'General.Field.Label.CurrentEmail' | translate"></span></mat-label>
            <span matPrefix>
              <fa-icon [icon]="['fas', 'user']"></fa-icon>&nbsp;<fa-icon [icon]="['far', 'envelope']"></fa-icon>&nbsp;
            </span>
            <input matInput name="oldEmailInput" [(ngModel)]="changeEmailCredentials.oldEmail" #oldEmailInput="ngModel" type="email" email
            required notEqual="newEmailInput" notEqualReverse="true" />
            <mat-error *ngIf="oldEmailInput.invalid">
                <mat-error *ngIf="oldEmailInput.errors.required">
                    <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
                </mat-error>
                <mat-error *ngIf="oldEmailInput.errors.email">
                    <span [innerHTML]="'General.Input.Error.Email' | translate"></span>
                </mat-error>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label><span [innerHTML]="'General.Field.Label.NewEmail' | translate"></span></mat-label>
          <span matPrefix>
            <fa-icon [icon]="['far', 'envelope']"></fa-icon>&nbsp;
          </span>
          <input matInput name="newEmailInput" [(ngModel)]="changeEmailCredentials.newEmail" #newEmailInput="ngModel" type="email" email
            required notEqual="oldEmailInput" equal="newEmailRepeatInput" equalReverse="true" />
          <mat-error *ngIf="newEmailInput.invalid">
            <mat-error *ngIf="newEmailInput.errors.required">
              <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
            </mat-error>
            <mat-error *ngIf="newEmailInput.errors.email">
                <span [innerHTML]="'General.Input.Error.Email' | translate"></span>
            </mat-error>
            <mat-error *ngIf="newEmailInput.errors.notEqual && !newEmailInput.errors.email">
              <span [innerHTML]="'General.Input.Error.NotEqual.Email' | translate"></span>
            </mat-error>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label><span [innerHTML]="'General.Field.Label.NewEmailRepeat' | translate"></span></mat-label>
          <span matPrefix>
            <fa-icon [icon]="['far', 'envelope']"></fa-icon>&nbsp;
          </span>
          <input matInput name="newEmailRepeatInput" [(ngModel)]="changeEmailCredentials.newEmailConfirm" #newEmailRepeatInput="ngModel" [disabled]="newEmailInput.invalid" type="email" email
            required equal="newEmailInput" />
          <mat-error *ngIf="newEmailRepeatInput.invalid">
            <mat-error *ngIf="newEmailRepeatInput.errors.required">
              <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
            </mat-error>
            <mat-error *ngIf="newEmailRepeatInput.errors.email">
                <span [innerHTML]="'General.Input.Error.Email' | translate"></span>
            </mat-error>
            <mat-error *ngIf="newEmailRepeatInput.errors.equal && !newEmailRepeatInput.errors.email">
              <span [innerHTML]="'General.Input.Error.Equal.Email' | translate"></span>
            </mat-error>
          </mat-error>
        </mat-form-field>
      </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancel()">{{'General.Buttons.Cancel' | translate }}</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="ChangeEmailForm.invalid">
        <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> {{'General.Buttons.Submit' | translate }}
    </button>
</div>