<body>

  <div class="Idea">
    <h1> Die Idee </h1>
    <p>
      Im Rahmen des des #WirvsVirus Hackathons der Bundesregierung im März 2020 haben wir zueinander gefunden – unter ganz besonderen Umständen. Ohne uns einmal persönlich getroffen zu haben, fingen wir an, uns einer besondere Challenge zu widmen: Wie können wir unsere Mitmenschen unterstützen, mit neuen Herausforderungen umzugehen, die Corona uns stellt: Einkaufen, obwohl man einer Risikogruppe angehört? Kinder betreuen und von zuhause unterrichten, und währenddessen das Homeoffice schmeißen? Und dann auch noch mit dem Hund Gassi gehen?

    </p>
    <p> Gleichzeitig gibt es doch so viele, die gerne helfen wollen, und dabei einfach nicht wissen, wie. </p>
    <p> Wir möchten Menschen zusammenbringen, die sich unterstützen und sich gemeinsam diesen Herausforderungen stellen. </p>
    </div>

    <div class="video-container"><iframe src="https://www.youtube.com/embed/VIG_S-io0ms" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>

</body>
