<!-- Idea Container -->
  <div class="container-fluid text-center">
    <h1>
      {{'Idea.Texts.Idea' | translate }}
    </h1>
    <p class="text-justify">
      {{'Idea.Texts.Text1' | translate }}
    </p>
    <p class="text-justify">  {{'Idea.Texts.Text2' | translate }} </p>
    <p class="text-justify">  {{'Idea.Texts.Vision' | translate }} </p>
  </div>

  <div class="pb-5 pl-5 pr-5 container-fluid">
    <div class="video-container"><iframe src="https://www.youtube.com/embed/VIG_S-io0ms" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
  </div>
