<!-- Idea Container -->
  <div class="container-fluid text-center">
    <h1>
      {{'About.Idea.Idea' | translate }}
    </h1>
    <p class="text-justify">
      {{'About.Idea.Text1' | translate }}
    </p>
    <p class="text-justify">  {{'About.Idea.Text2' | translate }} </p>
    <p class="text-justify">  {{'About.Idea.Vision' | translate }} </p>
    <p class="text-justify">  {{'About.Idea.Text3' | translate }} </p>
  </div>

  <div class="pb-5 pl-5 pr-5 container-fluid">
    <div class="video-container"><iframe src="https://www.youtube.com/embed/VIG_S-io0ms" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
  </div>
