@import '../../../../scss/variables.scss';

:host{
    .content-container{
        /deep/ .countdown{
            .measurements{
                text-align:center;
                margin: $normal-spacing;
            }

            .divider {
                font-size: 30px;
               }
        }
    }
}