@import '../../../../scss/variables.scss';

:host{
    text-align:center;

    .content-container{
        margin-bottom:100px;

        /deep/ .countdown{
            .measurements{
                margin: $normal-spacing;
            }

            .divider {
                font-size: 30px;
               }
        }
    }

    .mainpage-button{
        margin-bottom:50px;
        font-size: $largest;
        padding: $normal-spacing;
        margin-top:$normal-spacing;
        margin-right:0;
    }
}