<div class="text-center text-justify">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3> Bald ist es soweit - Sei dabei, wenn die Plattform live geht!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 content-container">
      <p>Voitheia Launch</p><br />
      <countdown [text]="text" units="Days | Hours | Minutes | Seconds" [end]="goLive"></countdown>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1>
        {{'General.Slogan' | translate}}
      </h1>
      <p class="font-weight-light mb-5 text-left">
        {{'Home.Texts.Level1' | translate }}
        <br>
        {{'Home.Texts.Level2' | translate }}
      </p>
    </div>
  </div>
  <div class="row" *ngIf="registrationOpen()">
    <div class="col-md-10 offset-md-1">
      <button class="mainpage-button" type="submit" mat-raised-button color="primary" routerLink="/user/register">
        <span>
          {{'Home.Buttons.ShowRequests.LoggedOut' | translate }}
        </span>
      </button>
      <div>
        <h4>Registriere dich schon heute als Voitheia-Helfer, und sei bereit für die ersten Untersützungsanfragen. Wir informieren dich nochmal per Email, wenn die Plattform gelauncht wurde. Frohes Helfen! </h4>
      </div>
    </div>
  </div>
</div>