@import '../../../../scss/variables.scss';

:host{
    .content-container{
        margin-top:100px;
        margin-bottom:100px;

        /deep/ .countdown{
            .measurements{
                text-align:center;
                margin: $normal-spacing;
            }

            .divider {
                font-size: 30px;
               }
        }
    }

    .mainpage-button{
        margin-bottom:50px;
    }
}