<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-default navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
      
      <i id="logo"></i>
      <a class="navbar-brand" (click)="_navigationService.navigateTo('home')">Voitheia</a>
      <button id="hamburger" (click)="hamburgerMenuToggle()" class="navbar-toggle navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class="icon-bar top-bar"></span>
	      <span class="icon-bar middle-bar"></span>
	      <span class="icon-bar bottom-bar"></span>	
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]=isCollapsed>
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
              <li *ngIf="!isLoggedIn()" (click)="_navigationService.navigateTo('user/login')" class="nav-item"><a class="nav-link login-btn noselect">
                <fa-icon [icon]="faSignInAlt"></fa-icon>
                {{'General.Buttons.Login' | translate }}</a></li>
              <li *ngIf="!isLoggedIn()" (click)="_navigationService.navigateTo('user/register')" class="nav-item"><a class="nav-link register-btn noselect">
                {{'General.Buttons.Register' | translate }}</a></li>
              <li *ngIf="isLoggedIn()" (click)="_navigationService.navigateTo('my-requests/list')" class="nav-item"><a class="nav-link login-btn noselect" >
                {{'Home.Buttons.MyRequests' | translate }}</a></li>
              <li *ngIf="isLoggedIn()" (click)= "logout()" class="nav-item"><a class="nav-link login-btn noselect" >
                <fa-icon [icon]="faSignOutAlt"></fa-icon>
                {{'General.Buttons.Logout' | translate }}</a></li>
          </ul>
      </div>
  </div>
</nav>