<div class="row">
    <div class="col-md-6 offset-md-3 content-container">      
        <table mat-table [dataSource]="requestDataSource">
            <!-- Firstname Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> {{'General.Field.Label.FirstName' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    <div class="profile-picture-container">
                        <img class="profile-picture" [profile-picture]="element.assignedUser.profilePicture" hidden="true">
                    </div>
                    {{element.firstName}}
                </td>
            </ng-container>
        
            <!-- RequestType Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> {{'General.Field.Label.Type' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{'General.Enums.RequestTypeEnum.' + element.type | translate}} </td>
            </ng-container>
        
            <!-- Distance to User Column -->
            <ng-container matColumnDef="distanceToUser">
                <th mat-header-cell *matHeaderCellDef> {{'General.Field.Label.Distance' | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.distanceToUser | distance }} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="openDetails(i)"></tr>
        </table>
    </div>
</div>