<div class="row">
    <div class="col-md-6 offset-md-3 content-container">
        <h3 class="content-header">{{'User.Login.Title' | translate }}</h3>
        <form #RequestForm="ngForm" novalidate>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label><span [innerHTML]="'General.Field.Label.Email' | translate"></span></mat-label>
                            <input  matInput name="textareaInput" [(ngModel)]="user.email" #textareaInput="ngModel" required>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label><span [innerHTML]="'General.Field.Label.Password' | translate"></span></mat-label>
                            <input  type="password" matInput name="textareaInput" [(ngModel)]="user.password" #textareaInput="ngModel" required>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="form-submit-btn">
                <button style="width: 100%" type="submit" mat-raised-button color="primary" (click)="login()">
                    <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> {{'General.Buttons.Login' | translate }}
                </button>                      
            </div>
            <div id="register_msg">
                <span>
                    {{'User.Login.NoAccount' | translate }}
                </span>
                <a routerLink="/user/register" routerLinkActive="active">
                    <span>
                        {{'General.Buttons.Register' | translate }}
                    </span>
                </a>
            </div>
        </form>
    </div>
</div>