<div class="row">
    <div id="login-container" class="col-md-6 offset-md-3 ">
        <h3 id="login_header">{{'Login.Title' | translate }}</h3>
        <!-- <mat-horizontal-stepper>
            <mat-step [label]="'Request.Create.Stepper.Request' | translate"> -->
                <form #RequestForm="ngForm" novalidate>
                    <div class="row">
                        
                        <div class="col-md">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label><span [innerHTML]="'Login.Name' | translate"></span></mat-label>
                                    <input  matInput name="textareaInput" [(ngModel)]="user.email" #textareaInput="ngModel" required>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label><span [innerHTML]="'Login.Password' | translate"></span></mat-label>
                                    <input  type="password" matInput name="textareaInput" [(ngModel)]="user.password" #textareaInput="ngModel" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div id="login_submit_btn">
                        <button  style="width: 100%;" type="submit" class="btn btn-primary" (click)="login()">
                            <fa-icon [icon]="faPaperPlane"></fa-icon> {{'General.Buttons.Login' | translate }}
                        </button>
                        
                    </div>
                    <div id="register_msg">
                        <span>
                            {{'Register.NoAccount' | translate }}
                        </span>

                        <a  style="font-weight: 600;" class="hyperlink" (click)= "registerUser()" >
                            <span>
                                {{'General.Buttons.Register' | translate }}
                            </span>
                           </a>
                        <!-- <button type="submit" class="btn btn-outline-dark" (click)= "registerUser()">
                            <fa-icon [icon]="faUserPlus"></fa-icon> {{'General.Buttons.Register' | translate }}
                        </button> -->
                    </div>

                </form>
    </div>
</div>