
<!-- Team Container -->
<div class="text-center text-justify">
  <h1> {{'About.AboutUs.Title' | translate }}</h1>
  <p> {{'About.AboutUs.Text1' | translate }}</p>

  <!--Row 1: Names-->
  <div class="pt-4 row justify-content-center">
    <div class="col-md-4 text-center">
      <img src="/assets/images/team/lukas.jpeg" alt="Lukas" class="rounded-circle mx-auto d-block">
      <h4>Lukas</h4>
      <p>{{'About.AboutUs.TeamMember.Lukas' | translate }}</p>
      <h6>Backend-Entwicklung <br /> Data Security</h6>
    </div>

    <div class="col-md-4 text-center">
      <img src="/assets/images/team/andi.jpg" alt="Andi" class="rounded-circle mx-auto d-block">
      <h4>Andi</h4>
      <p>{{'About.AboutUs.TeamMember.Andi' | translate }}</p>
        <h6>Backend-Entwicklung</h6>
      </div>

    <div class="col-md-4 text-center">
      <img src="/assets/images/team/sebastian.jpg" alt="Sebastian" class="rounded-circle mx-auto d-block">
      <h4>Sebastian</h4>
      <p>{{'About.AboutUs.TeamMember.Sebastian' | translate }}</p>
      <h6>Cloud-Connection</h6>
    </div>
  </div>

  <!--Row 2 -->
  <div class="pt-4 row justify-content-center">
    <div class="col-md-4 text-center">
      <img src="/assets/images/team/benedikt.jpg" alt="Benedikt" class="rounded-circle mx-auto d-block">
      <h4>Benedikt</h4>
      <p>{{'About.AboutUs.TeamMember.Benedikt' | translate }}</p>
      <h6>Frontend-Entwicklung</h6>
    </div>

    <div class="col-md-4 text-center">
      <img src="/assets/images/team/kevin.jpg" alt="Kevin" class="rounded-circle mx-auto d-block">
      <h4>Kevin</h4>
      <p>{{'About.AboutUs.TeamMember.Kevin' | translate }}</p>
      <h6>Backend-Entwicklung<br />Frontend-Entwicklung<br />Design</h6>
    </div>

    <div class="col-md-4 text-center">
      <img src="/assets/images/team/christoph.jpg" alt="Christoph" class="rounded-circle mx-auto d-block">
      <h4>Christoph</h4>
      <p>{{'About.AboutUs.TeamMember.Christoph' | translate }}</p>
      <h6>App Development</h6>
    </div>
  </div>

  <!--Row 3 -->
  <div class="pt-4 row justify-content-center">
    <div class="col-md-4 text-center">
      <img src="/assets/images/placeholder.jpg" alt="Alexander" class="rounded-circle mx-auto d-block">
      <h4>Alexander</h4>
      <p>{{'About.AboutUs.TeamMember.Alexander' | translate }}</p>
      <h6>App Development</h6>
    </div>

    <div class="col-md-4 text-center">
      <img src="/assets/images/team/helen.jpg" alt="Helen" class="rounded-circle mx-auto d-block">
      <h4>Helen</h4>
      <p>{{'About.AboutUs.TeamMember.Helen' | translate }}</p>
      <h6>Content & Marketing</h6>
    </div>

    <div class="col-md-4 text-center">
      <img src="/assets/images/team/sophie.jpg" alt="Sophie" class="rounded-circle mx-auto d-block">
      <h4>Sophie</h4>
      <p>{{'About.AboutUs.TeamMember.Sophie' | translate }}</p>
      <h6>Content & Marketing</h6>
    </div>
    </div>
  </div>

