@import '../../../../variables.scss';
@import '../../../../custom-bootstrap-theme.scss';


.w3-circle w3-hover-opacity {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

.tasks {
  font-size:medium;
  color: white;
}

