<div mat-dialog-title>
    <h3>{{'User.ChangePassword.Title' | translate }}</h3>
</div>
<div mat-dialog-content>
    <form #ChangePasswordForm="ngForm" novalidate>
        <mat-form-field>
          <mat-label><span [innerHTML]="'General.Field.Label.CurrentPassword' | translate"></span></mat-label>
          <span matPrefix><fa-icon [icon]="['fas', 'lock']"></fa-icon> &nbsp;</span>
          <input matInput name="oldPasswordInput" [(ngModel)]="changePasswordCredentials.oldPassword" #oldPasswordInput="ngModel" type="password"
            required notEqual="newPasswordInput" notEqualReverse="true" />
          <mat-error *ngIf="(oldPasswordInput.touched || oldPasswordInput.dirty) && oldPasswordInput.invalid">
            <mat-error *ngIf="oldPasswordInput.errors.required">
              <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
            </mat-error>
          </mat-error>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label><span [innerHTML]="'General.Field.Label.NewPassword' | translate"></span></mat-label>
          <span matPrefix><fa-icon [icon]="['fas', 'key']"></fa-icon> &nbsp;</span>
          <input matInput name="newPasswordInput" [(ngModel)]="changePasswordCredentials.newPassword" #newPasswordInput="ngModel" [type]="hidePW ? 'password' : 'text'"
            required [pattern]="passwordRegEx" minlength="8" notEqual="oldPasswordInput" equal="newPasswordRepeatInput" equalReverse="true" />
          <fa-icon matSuffix [icon]="['far', 'eye']" (click)="hidePW = !hidePW" *ngIf="hidePW"></fa-icon>
          <fa-icon matSuffix [icon]="['far', 'eye-slash']" (click)="hidePW = !hidePW" *ngIf="!hidePW"></fa-icon>
          <mat-error *ngIf="(newPasswordInput.touched || newPasswordInput.dirty) && newPasswordInput.invalid">
            <mat-error *ngIf="newPasswordInput.errors.required">
              <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
            </mat-error>
            <mat-error *ngIf="newPasswordInput.errors.minlength">
              <span [innerHTML]="'General.Input.Error.MinLength' | translate:{count : 8}"></span>
            </mat-error>
            <mat-error *ngIf="newPasswordInput.errors.pattern && !newPasswordInput.errors.minlength">
              <span [innerHTML]="'General.Input.Error.PasswordPattern' | translate"></span>
            </mat-error>
            <mat-error *ngIf="newPasswordInput.errors.notEqual && !newPasswordInput.errors.pattern && !newPasswordInput.errors.minlength">
              <span [innerHTML]="'General.Input.Error.NotEqual.Password' | translate"></span>
            </mat-error>
          </mat-error>
        </mat-form-field>
        <password-strength-meter [password]="changePasswordCredentials.newPassword"></password-strength-meter>
        
        <mat-form-field>
          <mat-label><span [innerHTML]="'General.Field.Label.NewPasswordRepeat' | translate"></span></mat-label>
          <span matPrefix><fa-icon [icon]="['fas', 'key']"></fa-icon> &nbsp;</span>
          <input matInput name="newPasswordRepeatInput" [(ngModel)]="changePasswordCredentials.confirmNewPassword" #newPasswordRepeatInput="ngModel" [readOnly]="!hidePW" [disabled]="newPasswordInput.invalid" type="password"
            required equal="newPasswordInput" />
          <mat-error *ngIf="(newPasswordRepeatInput.touched || newPasswordRepeatInput.dirty) && newPasswordRepeatInput.invalid">
            <mat-error *ngIf="newPasswordRepeatInput.errors.required">
              <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
            </mat-error>
            <mat-error *ngIf="newPasswordRepeatInput.errors.equal">
              <span [innerHTML]="'General.Input.Error.Equal.Password' | translate"></span>
            </mat-error>
          </mat-error>
        </mat-form-field>
      </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancel()">{{'General.Buttons.Cancel' | translate }}</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="ChangePasswordForm.invalid">
        <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> {{'General.Buttons.Submit' | translate }}
    </button>
</div>