<div mat-dialog-title>
    <h3>{{'User.ChangePassword.Title' | translate }}</h3>
</div>
<div mat-dialog-content>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="showError">
        <h4 class="alert-heading">{{'User.ChangePassword.Messages.Error.Title' | translate}}</h4>
        <p>{{'User.Profile.Edit.Messages.Error.Text' | translate}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #ChangePasswordForm="ngForm" novalidate>
        <mat-form-field>
          <mat-label><span [innerHTML]="'General.Field.Label.CurrentPassword' | translate"></span></mat-label>
          <input matInput name="oldPasswordInput" [(ngModel)]="changePasswordCredentials.oldPassword" #oldPasswordInput="ngModel" type="password"
            required notEqual="newPasswordInput" notEqualReverse="true" />
          <fa-icon matSuffix [icon]="['fas', 'key']" class="hint-icon"></fa-icon>
          <mat-error *ngIf="oldPasswordInput.invalid">
            <mat-error *ngIf="oldPasswordInput.errors.required">
              <span [innerHTML]="'portal.General.Input.Error.Required' | translate"></span>
            </mat-error>
          </mat-error>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label><span [innerHTML]="'General.Field.Label.NewPassword' | translate"></span></mat-label>
          <input matInput name="newPasswordInput" [(ngModel)]="changePasswordCredentials.newPassword" #newPasswordInput="ngModel" [type]="hidePW ? 'password' : 'text'"
            required [pattern]="passwordRegEx" minlength="8" notEqual="oldPasswordInput" equal="newPasswordRepeatInput" equalReverse="true" />
          <fa-icon matSuffix [icon]="['far', 'eye']" (click)="hidePW = !hidePW" *ngIf="hidePW"></fa-icon>
          <fa-icon matSuffix [icon]="['far', 'eye-slash']" (click)="hidePW = !hidePW" *ngIf="!hidePW"></fa-icon>
          <fa-icon matSuffix [icon]="['fas', 'key']" class="hint-icon"></fa-icon>
          <password-strength-meter [password]="changePasswordCredentials.newPassword"></password-strength-meter>
          <mat-error *ngIf="newPasswordInput.invalid">
            <mat-error *ngIf="newPasswordInput.errors.required">
              <span [innerHTML]="'portal.General.Input.Error.Required' | translate"></span>
            </mat-error>
            <mat-error *ngIf="newPasswordInput.errors.minlength">
              <span [innerHTML]="'portal.General.Input.Error.MinLength' | translate:{count : 8}"></span>
            </mat-error>
            <mat-error *ngIf="newPasswordInput.errors.pattern">
              <span [innerHTML]="'portal.General.Input.Error.PasswordPattern' | translate"></span>
            </mat-error>
            <mat-error *ngIf="newPasswordInput.errors.notEqual">
              <span [innerHTML]="'portal.General.Input.Error.NotEqual' | translate"></span>
            </mat-error>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label><span [innerHTML]="'General.Field.Label.NewPasswordRepeat' | translate"></span></mat-label>
          <input matInput name="newPasswordRepeatInput" [(ngModel)]="changePasswordCredentials.confirmNewPassword" #newPasswordRepeatInput="ngModel" [readOnly]="!hidePW" [disabled]="newPasswordInput.invalid" type="password"
            required equal="newPasswordInput" />
          <fa-icon matSuffix [icon]="['fas', 'key']" class="hint-icon"></fa-icon>
          <mat-error *ngIf="newPasswordRepeatInput.invalid">
            <mat-error *ngIf="newPasswordRepeatInput.errors.required">
              <span [innerHTML]="'portal.General.Input.Error.Required' | translate"></span>
            </mat-error>
            <mat-error *ngIf="newPasswordRepeatInput.errors.equal">
              <span [innerHTML]="'portal.General.Input.Error.Equal' | translate"></span>
            </mat-error>
          </mat-error>
        </mat-form-field>
      </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancel()">{{'General.Buttons.Cancel' | translate }}</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="ChangePasswordForm.invalid">
        <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> {{'General.Buttons.Submit' | translate }}
    </button>
</div>