<div class="row">
    <div class="col-md-6 offset-md-3 content-container">
        <h3 class="content-header">{{'User.Register.Title' | translate }}</h3>
        <form #RegisterForm="ngForm" novalidate>
            <div class="row">
                <div class="col-md-6 ">
                    <mat-form-field>
                        <mat-label><span [innerHTML]="'General.Field.Label.FirstName' | translate"></span></mat-label>
                        <input  matInput name="firstNameInput" [(ngModel)]="user.firstName" #firstNameInput="ngModel" required>
                        <mat-error *ngIf="(firstNameInput.touched || firstNameInput.dirty) && firstNameInput.invalid">
                            <mat-error *ngIf="firstNameInput.hasError('required')">
                                <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6 ">
                    <mat-form-field>
                        <mat-label><span [innerHTML]="'General.Field.Label.LastName' | translate"></span></mat-label>
                        <input  matInput name="lastNameInput" [(ngModel)]="user.lastName" #lastNameInput="ngModel" required>
                        <mat-error *ngIf="(lastNameInput.touched || lastNameInput.dirty) && lastNameInput.invalid">
                            <mat-error *ngIf="lastNameInput.hasError('required')">
                                <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label><span [innerHTML]="'General.Field.Label.Street' | translate"></span></mat-label>
                            <input  matInput name="streetInput" [(ngModel)]="user.street" #streetInput="ngModel" required>
                            <mat-error *ngIf="(streetInput.touched || streetInput.dirty) && streetInput.invalid">
                                <mat-error *ngIf="streetInput.errors.required">
                                    <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label><span [innerHTML]="'General.Field.Label.ZipCode' | translate"></span></mat-label>
                            <input matInput numberLength="5" name="zipcodeInput" [(ngModel)]="user.zip" #zipcodeInput="ngModel" zipCodeWithinRange inputNumber required />
                            <fa-icon matSuffix [icon]="['fas', 'info-circle']" class="info-icon" matTooltip="{{'Request.Create.Infos.ZipCode' | translate}}" matTooltipClass="customTooltip" matTooltipHideDelay="2000"></fa-icon>
                            <mat-error *ngIf="(zipcodeInput.touched || zipcodeInput.dirty) && zipcodeInput.invalid">
                                <mat-error *ngIf="zipcodeInput.errors.required">
                                    <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
                                </mat-error>
                                <mat-error *ngIf="zipcodeInput.errors.numberLength">
                                    <span>{{'General.Input.Error.numberLength' | translate:{count : 5} }}</span>
                                </mat-error>
                                <mat-error *ngIf="zipcodeInput.errors.zipCodeWithinRange && !zipcodeInput.errors.numberLength">
                                    <span>{{'General.Input.Error.zipCodeWithinRange' | translate}}</span>
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label><span [innerHTML]="'General.Field.Label.City' | translate"></span></mat-label>
                            <input  matInput name="cityInput" [(ngModel)]="user.city" #cityInput="ngModel" required>
                            <mat-error *ngIf="(cityInput.touched || cityInput.dirty) && cityInput.invalid">
                                <mat-error *ngIf="cityInput.errors.required">
                                    <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>     
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label><span [innerHTML]="'General.Field.Label.Email' | translate"></span></mat-label>
                            <span matPrefix>
                                <fa-icon [icon]="['far', 'envelope']" class="hint-icon"></fa-icon>&nbsp;
                            </span>
                            <input matInput name="emailInput" [(ngModel)]="user.email" #emailInput="ngModel" required type="email" email>
                            <mat-error *ngIf="(emailInput.touched || emailInput.dirty) && emailInput.invalid">
                                <mat-error *ngIf="emailInput.errors.required">
                                    <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
                                </mat-error>
                                <mat-error *ngIf="emailInput.errors.email">
                                    <span [innerHTML]="'General.Input.Error.Email' | translate"></span>
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label><span [innerHTML]="'General.Field.Label.Password' | translate"></span></mat-label>
                            <span matPrefix>
                                <fa-icon [icon]="['fas', 'key']"></fa-icon>&nbsp;
                            </span>
                            <input matInput name="passwordInput" [(ngModel)]="user.password" #passwordInput="ngModel"
                            [type]="hidePW ? 'password' : 'text'"
                            requried [pattern]="passwordRegEx" minlength="8" equal="passwordRepeatInput" equalReverse="true">
                            <fa-icon matSuffix [icon]="['far', 'eye']" (click)="hidePW = !hidePW" *ngIf="hidePW"></fa-icon>
                            <fa-icon matSuffix [icon]="['far', 'eye-slash']" (click)="hidePW = !hidePW" *ngIf="!hidePW"></fa-icon>
                            <mat-error *ngIf="(passwordInput.touched || passwordInput.dirty) && passwordInput.invalid">
                                <mat-error *ngIf="passwordInput.errors.required">
                                    <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
                                </mat-error>
                                <mat-error *ngIf="passwordInput.errors.minlength">
                                    <span [innerHTML]="'General.Input.Error.MinLength' | translate:{count : 8}"></span>
                                </mat-error>
                                <mat-error *ngIf="passwordInput.errors.pattern">
                                    <span [innerHTML]="'General.Input.Error.PasswordPattern' | translate"></span>
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <password-strength-meter [password]="user.password"></password-strength-meter>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label><span [innerHTML]="'General.Field.Label.RepeatPassword' | translate"></span></mat-label>
                            <span matPrefix>
                                <fa-icon [icon]="['fas', 'key']"></fa-icon>&nbsp;
                            </span>
                            <input matInput type="password" matInput name="passwordRepeatInput" [(ngModel)]="repeatPassword" #passwordRepeatInput="ngModel" [readOnly]="!hidePW" [disabled]="passwordInput.invalid"
                            required equal="passwordInput">
                            <mat-error *ngIf="(passwordRepeatInput.touched || passwordRepeatInput.dirty) && passwordRepeatInput.invalid">
                                <mat-error *ngIf="passwordRepeatInput.errors.required">
                                    <span [innerHTML]="'General.Input.Error.Required' | translate"></span>
                                </mat-error>
                                <mat-error *ngIf="passwordRepeatInput.errors.equal">
                                    <span [innerHTML]="'General.Input.Error.Equal.Password' | translate"></span>
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <mat-checkbox [(ngModel)]="termsChecked" name="termsChecked"><span [innerHtml]="'General.Field.Label.Terms' | translate"></span></mat-checkbox>
            </div>
            <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" (captchaExpired)="handleExpiredCaptcha()" [site_key]="reCaptchaKey" [language]="getreCaptchaLanguage()" *ngIf="reCaptchaKey !== ''"></re-captcha>
  
            <div class="form-submit-btn">
                <button style="width: 100%" type="submit" mat-raised-button color="primary" (click)="send()" [disabled]="!RegisterForm.form.valid || !termsChecked || !reCaptchaValid">
                    <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> {{'General.Buttons.Submit' | translate }}
                </button>
            </div>
            <div id="login_msg">
                <span>
                    {{'User.Register.HasAccount' | translate }}
                </span>
                <a class="hyperlink" routerLink="/user/login">
                    <span>
                        {{'General.Buttons.Login' | translate }}
                    </span>
                </a>
            </div>
        </form>
    </div>
</div>


