<div mat-dialog-title>
    <h3>{{'Request.Details.Title' | translate }}</h3>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-md-6 order-md-last">
            <div *ngIf="item.author">
                <div class="profile-picture-wrapper" *ngIf="item.assignedUser !== null">
                    <div class="label">{{'MyRequest.Coloumns.AssignedTo' | translate}}</div>
                    <div class="profile-picture-container">
                        <img [profile-picture]="item.assignedUser.profilePicture" class="profile-picture" hidden="true" />
                    </div>
                </div>
                <div *ngIf="item.createrUser !== null" class="profile-picture-wrapper small">
                    <div class="label">{{'MyRequest.Coloumns.CreatedBy' | translate}}</div>
                    <div class="profile-picture-container">
                        <img [profile-picture]="item.createrUser.profilePicture" class="profile-picture" hidden="true" />
                    </div>
                </div>
            </div>
            <div *ngIf="!item.author">
                <div class="profile-picture-wrapper" *ngIf="item.createrUser !== null">
                    <div class="label">{{'MyRequest.Coloumns.CreatedBy' | translate}}</div>
                    <div class="profile-picture-container">
                        <img [profile-picture]="item.createrUser.profilePicture" class="profile-picture" hidden="true" />
                    </div>
                </div>
                <div *ngIf="item.assignedUser !== null" class="profile-picture-wrapper small">
                    <div class="label">{{'MyRequest.Coloumns.AssignedTo' | translate}}</div>
                    <div class="profile-picture-container">
                        <img [profile-picture]="item.assignedUser.profilePicture" class="profile-picture" hidden="true" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-md-first">
            <p>
                <span class="label">{{'General.Field.Label.Name' | translate }}</span><br />
                {{item.firstName}} {{item.lastName}}
            </p>
        </div>
    </div>
    <p>
        <span class="label">{{'General.Field.Label.Type' | translate }}</span><br />
        {{item.type}}
    </p>
    <p>
        <span class="label">{{'General.Field.Label.Description' | translate }}</span><br />
        {{item.description}}
    </p>
    <p>
        <span class="label">{{'General.Field.Label.Distance' | translate }}</span><br />
        {{item.distanceToUser}}
    </p>
    <p>
        <span class="label">{{'General.Field.Label.Phone' | translate }}</span><br />
        {{item.phoneNumber}}
    </p>
</div>

<div mat-dialog-actions>
    <button mat-stroked-button (click)="onCancel()">{{'General.Buttons.Back' | translate }}</button>
    <button mat-raised-button (click)="onCancelRequest()">{{'General.Buttons.Cancel' | translate }}</button>
    <button mat-raised-button color="primary" (click)="onCloseRequest()">{{'General.Buttons.Complete' | translate }}</button>
</div>
