@import '../../../../variables.scss';

:host {
  .custom-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    color: $gray-2;
  }

  .custom-radio-button {
    margin: 5px;
  }
}

