@import '../../../../variables.scss';

:host {
  .custom-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    color: $gray-2;
  }

  .btn {
    background-color: $brand-color;
    color: $white;
    border: none;
    font-size: $normal;
  }

  .custom-radio-button {
    margin: 5px;
  }
}

#create_request_header {
  color: black;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}


.mat-input-element {
  padding: 1.2rem;
  font-size: 70%;
  color: black;
}

