@import '../../../../variables.scss';

:host {
  .custom-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .btn {
    background-color: $brand-secondary-color;
    color: $white;
    border: none;
    font-size: $normal;
  }

  .custom-radio-button {
    margin: 5px;
  }
}
