<div class="row ">
    <div class="col-md-8 offset-md-2 content-container">
        <h3 class="content-header">{{'Request.Create.Title' | translate }}</h3>
        <div class="alert alert-info" role="alert">
            <div class="alert-content"><span>{{'General.Infos.ZipCode' | translate}}</span></div>
        </div>
        <mat-horizontal-stepper>
            <mat-step [label]="'Request.Create.Stepper.Request' | translate">
              <form #RequestForm="ngForm" novalidate>
                <div class="form-group">
                  <mat-label name="requestType-label">
                    <span [innerHTML]="'General.Field.Label.Type' | translate"></span>
                  </mat-label>
                  <mat-radio-group class="custom-radio-group" aria-labelledby="requestType-label"
                                    name="typeInput" #typeInput="ngModel" [(ngModel)]="request.type" required>
                    <mat-radio-button class="custom-radio-button"
                                      *ngFor="let requestType of RequestTypeEnum | keys" [value]="requestType">
                      <span [innerHTML]="'General.Enums.RequestTypeEnum.' + RequestTypeEnum[requestType] | translate"></span>
                    </mat-radio-button>
                  </mat-radio-group>
                  <mat-error *ngIf="(typeInput.touched || typeInput.dirty) && typeInput.invalid">
                    <mat-error *ngIf="typeInput.errors.required">
                      <span>{{'General.Input.Error.Required' | translate}}</span>
                    </mat-error>
                  </mat-error>
                </div>
                
                <div class="alert alert-warning" role="alert" *ngIf="number(request.type) === RequestTypeEnum.Petcare">
                  <div class="alert-content"><span>{{'Request.Create.Infos.PetInsurance' | translate}}</span></div>
                </div>
                <div class="alert alert-warning" role="alert" *ngIf="number(request.type) === RequestTypeEnum.Childcare">
                  <div class="alert-content"><span>{{'Request.Create.Infos.GeneralInsurance' | translate}}</span></div>
                </div>

                <div class="form-group">
                  <mat-form-field>
                    <mat-label>
                      <span [innerHTML]="'General.Field.Label.Description' | translate"></span>
                    </mat-label>
                    <textarea matInput name="descriptionInput" [(ngModel)]="request.description"
                              #descriptionInput="ngModel" required rows="5" maxlength="2000"></textarea>
                    <mat-hint align="end">{{request.description.length}} / 2000</mat-hint>
                    <fa-icon matSuffix [icon]="['fas', 'info-circle']" class="info-icon" matTooltip="{{'Request.Create.Infos.Details' | translate}}" matTooltipClass="customTooltip" matTooltipHideDelay="2000"></fa-icon>
                  </mat-form-field>
                  <mat-error *ngIf="(descriptionInput.touched || descriptionInput.dirty) && descriptionInput.invalid">
                    <mat-error *ngIf="descriptionInput.errors.required">
                      <span>{{'General.Input.Error.Required' | translate}}</span>
                    </mat-error>
                  </mat-error>
                </div>
                <div>
                  <button matStepperNext mat-raised-button color="primary" [disabled]="!RequestForm.form.valid">
                      {{'General.Buttons.Next' | translate }}
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step [label]="'Request.Create.Stepper.ContactInformation' | translate">
              <form #RequestAddressForm="ngForm" novalidate>
                <div class="alert alert-info" role="alert">
                  <div class="alert-content"><span>{{'Request.Create.Hint' | translate}}</span></div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field>
                        <mat-label>
                          <span [innerHTML]="'General.Field.Label.FirstName' | translate"></span>
                        </mat-label>
                        <input matInput name="firstNameInput" [(ngModel)]="request.firstName"
                               #firstNameInput="ngModel" required />
                      </mat-form-field>
                      <mat-error *ngIf="(firstNameInput.touched || firstNameInput.dirty) && firstNameInput.invalid">
                        <mat-error *ngIf="firstNameInput.errors.required">
                          <span>{{'General.Input.Error.Required' | translate}}</span>
                        </mat-error>
                      </mat-error>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field>
                        <mat-label>
                          <span [innerHTML]="'General.Field.Label.LastName' | translate"></span>
                        </mat-label>
                        <input matInput name="lastNameInput" [(ngModel)]="request.lastName"
                                #lastNameInput="ngModel" required />
                      </mat-form-field>
                      <mat-error *ngIf="(lastNameInput.touched || lastNameInput.dirty) && lastNameInput.invalid">
                        <mat-error *ngIf="lastNameInput.errors.required">
                          <span>{{'General.Input.Error.Required' | translate}}</span>
                        </mat-error>
                      </mat-error>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <mat-form-field>
                      <mat-label><span [innerHTML]="'General.Field.Label.Email' | translate"></span></mat-label>
                      <span matPrefix>
                        <fa-icon [icon]="['far', 'envelope']"></fa-icon>
                        &nbsp;
                      </span>
                      <input matInput name="emailInput" [(ngModel)]="request.email" #emailInput="ngModel" type="email" email />
                      <mat-error *ngIf="(emailInput.touched || emailInput.dirty) && emailInput.invalid">
                        <mat-error *ngIf="emailInput.errors.email">
                            <span>{{'General.Input.Error.Email' | translate}}</span>
                        </mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field>
                    <mat-label><span [innerHTML]="'General.Field.Label.Phone' | translate"></span></mat-label>
                    <span matPrefix>
                      <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                      &nbsp;
                    </span>
                    <input matInput name="phoneInput" [(ngModel)]="request.phoneNumber" #phoneInput="ngModel" required telephoneNumber />
                  </mat-form-field>
                  <mat-error *ngIf="(phoneInput.touched || phoneInput.dirty) && phoneInput.invalid">
                      <mat-error *ngIf="phoneInput.errors.required">
                          <span>{{'General.Input.Error.Required' | translate}}</span>
                      </mat-error>
                      <mat-error *ngIf="phoneInput.errors.telephoneNumber">
                        <span>{{'General.Input.Error.TelephoneNumber' | translate}}</span>
                    </mat-error>
                  </mat-error>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label><span [innerHTML]="'General.Field.Label.Street' | translate"></span></mat-label>
                        <input matInput name="addressInput" [(ngModel)]="request.street" #addressInput="ngModel"
                            required />
                    </mat-form-field>
                    <mat-error *ngIf="(addressInput.touched || addressInput.dirty) && addressInput.invalid">
                        <mat-error *ngIf="addressInput.errors.required">
                          <span>{{'General.Input.Error.Required' | translate}}</span>
                        </mat-error>
                    </mat-error>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <mat-form-field>
                              <mat-label><span [innerHTML]="'General.Field.Label.ZipCode' | translate"></span></mat-label>
                              <input matInput numberLength="5" name="zipcodeInput" [(ngModel)]="request.zip" #zipcodeInput="ngModel" zipCodeWithinRange inputNumber required />
                              <fa-icon matSuffix [icon]="['fas', 'info-circle']" class="info-icon" matTooltip="{{'General.Infos.ZipCode' | translate}}" matTooltipClass="customTooltip" matTooltipHideDelay="2000"></fa-icon>
                            </mat-form-field>
                            <mat-error *ngIf="(zipcodeInput.touched || zipcodeInput.dirty) && zipcodeInput.invalid">
                              <mat-error *ngIf="zipcodeInput.errors.required">
                                <span>{{'General.Input.Error.Required' | translate}}</span>
                              </mat-error>
                              <mat-error *ngIf="zipcodeInput.errors.inputNumber">
                                <span >Input not a number</span>
                              </mat-error>
                              <mat-error *ngIf="zipcodeInput.errors.numberLength && !zipcodeInput.errors.inputNumber">
                                <span >{{'General.Input.Error.numberLength' | translate:{count : 5} }}</span>
                              </mat-error>
                              <mat-error *ngIf="zipcodeInput.errors.zipCodeWithinRange && !zipcodeInput.errors.numberLength && !zipcodeInput.errors.inputNumber">
                                <span>{{'General.Input.Error.zipCodeWithinRange' | translate}}</span>
                              </mat-error>
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label><span [innerHTML]="'General.Field.Label.City' | translate"></span></mat-label>
                                <input matInput name="cityInput" [(ngModel)]="request.city" #cityInput="ngModel"
                                    required />
                            </mat-form-field>
                            <mat-error *ngIf="(cityInput.touched || cityInput.dirty) && cityInput.invalid">
                                <mat-error *ngIf="cityInput.errors.required">
                                    <span>{{'General.Input.Error.Required' | translate}}</span>
                                </mat-error>
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <mat-checkbox [(ngModel)]="termsChecked" name="termsChecked"><span [innerHTML]="'General.Field.Label.Terms' | translate"></span></mat-checkbox>
                </div>
    
                <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" (captchaExpired)="handleExpiredCaptcha()" [site_key]="reCaptchaKey" [language]="getreCaptchaLanguage()" *ngIf="reCaptchaKey !== ''"></re-captcha>

                <div>
                    <button matStepperPrevious mat-raised-button>
                      {{'General.Buttons.Back' | translate }}
                    </button>
                    <button type="submit" mat-raised-button color="primary" [disabled]="!RequestAddressForm.form.valid || !RequestForm.form.valid || !termsChecked || !reCaptchaValid" (click)="send()">
                      <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> {{'General.Buttons.Submit' | translate }}
                    </button>
                </div>
              </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
