<div class="text-center text-justify">
  <h1> {{'Terms.Terms' | translate }} </h1>

  <div class="p-5 text-justify">
    <!--Einleitung-->
    <h3> {{'Terms.IntroductionTitle' | translate }} </h3>
    <h4> {{'Terms.Introduction.Purpose' | translate }} </h4>
    <p> {{'Terms.Introduction.PurposeText' | translate }} <a href="www.voitheia.org/imprint">www.voitheia.org/imprint</a>. </p>
    <h4> {{'Terms.Introduction.Registration' | translate }} </h4>
    <p> {{'Terms.Introduction.RegistrationText' | translate }} <a href="www.voitheia.org/privacy">www.voitheia.org/privacy</a>. </p>
    <h4> {{'Terms.Introduction.Function' | translate }} </h4>
    <p> {{'Terms.Introduction.FunctionText' | translate }} </p>

    <!--Usage-->
    <h3> {{'Terms.Usage' | translate }} </h3>
    <p> {{'Terms.UsageText' | translate }} </p>

    <!--User obligations-->
    <h3> {{'Terms.UserObligationsTitle' | translate }} </h3>
    <h4> {{'Terms.UserObligations.Confidentiality' | translate }} </h4>
    <p> {{'Terms.UserObligations.ConfidentialityText' | translate }} </p>
    <h4> {{'Terms.UserObligations.Deficiencies' | translate }} </h4>
    <p> {{'Terms.UserObligations.DeficienciesText' | translate }}  </p>
    <h4> {{'Terms.UserObligations.LawfulUse' | translate }} </h4>
    <p> {{'Terms.UserObligations.LawfulUseText' | translate }} </p>

    <!--prohibition of transfer and exploitation-->
    <h3> {{'Terms.Transfer' | translate }} </h3>
    <p> {{'Terms.TransferText' | translate }} </p>

    <!--user content-->
    <h3> {{'Terms.UserContent' | translate }} </h3>
    <p> {{'Terms.UserContentText' | translate }} </p>

    <!--Warranty-->
    <h3> {{'Terms.WarrantyTitle' | translate }} </h3>
    <h4> {{'Terms.Warranty.Provision' | translate }} </h4>
    <p> {{'Terms.Warranty.ProvisionText' | translate }} </p>
    <h4> {{'Terms.Warranty.Correctnes' | translate }} </h4>
    <p> {{'Terms.Warranty.CorrectnesText' | translate }}  </p>

    <!--Liability-->
    <h3> {{'Terms.LiabilityTitle' | translate }} </h3>
    <h4> {{'Terms.Liability.OperatorLiability' | translate }} </h4>
    <p> {{'Terms.Liability.OperatorLiabilityText' | translate }} </p>
    <h4> {{'Terms.Liability.Indemnification' | translate }} </h4>
    <p> {{'Terms.Liability.IndemnificationText' | translate }}  </p>
    <h4> {{'Terms.Liability.Scope' | translate }} </h4>
    <p> {{'Terms.Liability.ScopeText' | translate }} </p>

    <!--final clauses-->
    <h3> {{'Terms.FinalClausesTitle' | translate }} </h3>
    <h4> {{'Terms.FinalClauses.SubjectChange' | translate }} </h4>
    <p> {{'Terms.FinalClauses.SubjectChangeText' | translate }} </p>
    <h4> {{'Terms.FinalClauses.Invalidity' | translate }} </h4>
    <p> {{'Terms.FinalClauses.InvalidityText' | translate }}  </p>
    <h4> {{'Terms.FinalClauses.ApplicableLaw' | translate }} </h4>
    <p> {{'Terms.FinalClauses.ApplicableLawText' | translate }} </p>

    <!--VSBG-->
    <h3> {{'Terms.VSBG' | translate }} </h3>
    <p> {{'Terms.VSBGText' | translate }} </p>

  </div>


</div>


