@import '../../../variables.scss';

:host {
  
  .box {
    padding: 2em;
    background-color: white;
    color: $black;
    height: 100%;
    margin-bottom: 15px;
    font-size: $largest;
    font-weight: $bold;
    cursor: pointer;
  }

  .box:hover {
    background-color: $brand-color;
  }

  #line1 {
    margin: 1em 0;
    font-size: $xxtra-large;
    font-weight: $bold;
  }
  
}





