<div class="text-center text-justify">
  <h1> {{'Terms.Privacy.Title' | translate }} </h1>

  <div class="p-5 text-justify">
    <!--Einleitung-->
    <p> {{'Terms.Privacy.Introduction' | translate }} </p>

    <!--Verantwortlichkeit-->
    <h3> {{'Terms.Privacy.ResponsibilityTitle' | translate }} </h3>
    <p> {{'Terms.Privacy.Responsibility.ResponsibilityText1' | translate }} <a href="www.voitheia.org/imprint">www.voitheia.org/imprint</a>. </p>
    <p> {{'Terms.Privacy.Responsibility.ResponsibilityText1' | translate }} </p>

    <!--Umfang und Zweck-->
    <h3> {{'Terms.Privacy.ScopeAndPurposeTitle' | translate }} </h3>
    <h4>  {{'Terms.Privacy.ScopeAndPurpose.DataCategories' | translate }} </h4>
    <p>{{'Terms.Privacy.ScopeAndPurpose.DataCategoriesText1' | translate }} </p>
    <ul>
      <li><p> {{'Terms.Privacy.ScopeAndPurpose.DataCategoriesList.Name' | translate }} </p> </li>
      <li><p>  {{'Terms.Privacy.ScopeAndPurpose.DataCategoriesList.Number' | translate }} </p></li>
      <li><p>  {{'Terms.Privacy.ScopeAndPurpose.DataCategoriesList.Address' | translate }} </p></li>
      <li><p> {{'Terms.Privacy.ScopeAndPurpose.DataCategoriesList.Requests' | translate }} </p></li>
      <li><p>  {{'Terms.Privacy.ScopeAndPurpose.DataCategoriesList.AcceptedRequests' | translate }} </p></li>
      <li><p>  {{'Terms.Privacy.ScopeAndPurpose.DataCategoriesList.Picture' | translate }} </p></li>
    </ul>
    <p>{{'Terms.Privacy.ScopeAndPurpose.DataCategoriesText2' | translate }} </p>
    <h4> {{'Terms.Privacy.ScopeAndPurpose.ImplementationTitle' | translate }}</h4>
    <p>{{'Terms.Privacy.ScopeAndPurpose.ImplementationText' | translate }} </p>
    <h4> {{'Terms.Privacy.ScopeAndPurpose.PurposeTitle' | translate }}</h4>
    <p>{{'Terms.Privacy.ScopeAndPurpose.PurposeText' | translate }} </p>
    <h5>{{'Terms.Privacy.ScopeAndPurpose.Purpose.ContractImplementation' | translate }} </h5>
    <p>{{'Terms.Privacy.ScopeAndPurpose.Purpose.ContractImplementationText' | translate }} </p>
    <h5>{{'Terms.Privacy.ScopeAndPurpose.Purpose.Consent' | translate }} </h5>
    <p>{{'Terms.Privacy.ScopeAndPurpose.Purpose.ConsentText' | translate }} </p>
    <h5>{{'Terms.Privacy.ScopeAndPurpose.Purpose.InterestPursuit' | translate }} </h5>
    <p>{{'Terms.Privacy.ScopeAndPurpose.Purpose.InterestPursuitText' | translate }} </p>
    <h5>{{'Terms.Privacy.ScopeAndPurpose.Purpose.Compliance' | translate }} </h5>
    <p>{{'Terms.Privacy.ScopeAndPurpose.Purpose.ComplianceText' | translate }} </p>

    <!--Cookies/Local Storage-->
    <h3> {{'Terms.Privacy.CookiesTitle' | translate }} </h3>
    <p> {{'Terms.Privacy.CookiesText1' | translate }} </p>
    <div class="row">
      <div class="col-md-8">
        <table class="table borderless">
          <thead>
            <tr>
              <th><h5>{{'Terms.Privacy.CookiesTable.Name' | translate }}</h5></th>
              <th><h5>{{'Terms.Privacy.CookiesTable.Description' | translate }}</h5></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>jwt_token</td>
              <td>{{'Terms.Privacy.CookiesTable.TokenDescription' | translate }}</td>
            </tr>
            <tr>
              <td>expiration_date</td>
              <td>{{'Terms.Privacy.CookiesTable.ExpirationDateDescription' | translate }}</td>
            </tr>
            <tr>
              <td>EMail</td>
              <td>{{'Terms.Privacy.CookiesTable.EmailDescription' | translate }}</td>
            </tr>
            <tr>
              <td>UserID</td>
              <td>{{'Terms.Privacy.CookiesTable.UserIDDescription' | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p> {{'Terms.Privacy.CookiesText2' | translate }} </p>

    <!--Speicherdauer&Löschung-->
    <h3> {{'Terms.Privacy.DurationTitle' | translate }} </h3>
    <p> {{'Terms.Privacy.DurationText' | translate }} </p>

    <!--Ansprechpartner-->
    <h3> {{'Terms.Privacy.ContactsTitle' | translate }} </h3>
    <p> {{'Terms.Privacy.ContactsText' | translate }} </p>

    <!--Rechtsgrundlagen-->
    <h3> {{'Terms.Privacy.LegalBasesTitle' | translate }} </h3>
    <p> {{'Terms.Privacy.LegalBasesText' | translate }} </p>
    <ul>
      <li><p> {{'Terms.Privacy.LegalBases.1' | translate }} </p> </li>
      <li><p> {{'Terms.Privacy.LegalBases.2' | translate }} </p> </li>
      <li><p> {{'Terms.Privacy.LegalBases.3' | translate }} </p> </li>
      <li><p> {{'Terms.Privacy.LegalBases.4' | translate }} </p> </li>
    </ul>

    <!--Betroffenenrechte-->
    <h3> {{'Terms.Privacy.RightsTitle' | translate }} </h3>
    <h4> {{'Terms.Privacy.Rights.GeneralRights' | translate }} </h4>
    <p> {{'Terms.Privacy.Rights.GeneralRightsText' | translate }} </p>
    <h4> {{'Terms.Privacy.Rights.Complaints' | translate }} </h4>
    <p> {{'Terms.Privacy.Rights.ComplaintsText' | translate }} </p>

    <!--Aktualtisierung-->
    <h3> {{'Terms.Privacy.UpdatingTitle' | translate }} </h3>
    <p> {{'Terms.Privacy.UpdatingText' | translate }} </p>

  </div>
  </div>
