<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Voitheia</h5>
        <p>
          {{'General.Slogan' | translate}}
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">{{'Footer.Titles.About' | translate}}</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/about/idea" routerLinkActive="active">{{'Footer.Links.Idea' | translate}}</a>
          </li>
          <li>
            <a routerLink="/about/about-us" routerLinkActive="active">{{'Footer.Links.AboutUs' | translate}}</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">{{'Footer.Titles.Service' | translate}}</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/terms/terms-conditions" routerLinkActive="active">{{'Footer.Links.Terms' | translate}}</a>
          </li>
          <li>
            <a routerLink="/terms/privacy-policy" routerLinkActive="active">{{'Footer.Links.PrivacyPolicy' | translate}}</a>
          </li>
          <li>
            <a routerLink="/terms/imprint" routerLinkActive="active">{{'Footer.Links.Imprint' | translate}}</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">{{'Footer.Titles.Contact' | translate}}</h5>

        <ul class="list-unstyled">
          <li>
            <a href="mailto:info@voitheia.org">info@voitheia.org</a>
          </li>
          <li>
            <span>
              München, Germany
            </span>

          </li>
          

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <!-- Logos -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating Hackathon mx-1" href="https://wirvsvirushackathon.org/" target="_blank">
        <img src="/assets/images/Logo_Projekt_01_weiss.svg" width="250" height="80" align="middle">
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating CGI mx-1" href="https://www.de.cgi.com/de/unternehmen" target="_blank">
        <img src="/assets/images/1200px-CGI_logo.svg.png" width="90" height="40" align="middle">
      </a>
    </li>
  </ul>
  <!-- Logos -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright
    <a href="!#"> </a>
  </div>
</footer>
<!-- Footer -->
