@import '../../../../variables.scss';

:host {
  .page-footer {
    display: block;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(50, 50, 50, 1);
    padding-top: 1.5rem;
    font-size: $small;
  }

  .font-weight-bold {
    color: $white;
    font-size: $medium;
    font-weight: $bold;
  }

  .list-unstyled {
    /* unvisited link */
    a, a:visited, a:focus, .hyperlink, .hyperlink:visited, .hyperlink:focus{
      color: $white;
    }
  }
}

h5 {
  margin-top: 0px !important;;
}

