@import '../../../../variables.scss';

:host {
  .page-footer {
    display: block;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(100, 100, 100, 0.719);
  }

  .font-weight-bold {
    color: $white;
    font-size: $large;
    font-weight: $bold
  }

  .list-unstyled {
    /* unvisited link */
    a:link {
      color: $white;
    }
  }
}

