@import '../../../../variables.scss';

:host {
  .page-footer {
    display: block;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgb(100,100,100,.7);
  }

  .font-weight-bold {
    color: $white;
    font-size: $large;
    font-weight: $bold
  }

  .list-unstyled {
    /* unvisited link */
    a:link {
      color: $white;
    }
    /* visited link */
    a:visited {
      color: $white;
    }
    /* mouse over link */
    a:hover {
      color: $brand-secondary-color-dark;
    }
    /* selected link */
    a:active {
      color: $brand-secondary-color-dark;
    }
    }
  }

