:host{
    table {
        width: 100%;
        border: 2px solid black;
      }
      
      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }

      .list_paginator{
        border: 2px solid black;
        margin-top:5px;
      }

      tr.mat-row:hover {
        cursor: pointer;
        background-color: rgb(173, 173, 173);
        border: 2px solid rgb(149, 207, 218);;
      }
}